@font-face 
    font-family: Neuzeit
    src: url(NeuzeitS-Book.ttf)



@font-face 
    font-family: NEONATA
    src: url(NEONATA-Light.otf)

    
body
    margin: 0
    background-color: #87D88C
    font-family: Neuzeit

#home 
  overflow-x: hidden
  overflow-y: hidden
