---
layout: default
historias:
- imagem: assets/img/tota_imagem.webp
  historia: "<p><em>metamorfose da pássara</em></p><p></p><p>o dia não é exato, simplesmente
    vai acontecendo. as calças deixam de apertar, as mamas dão forma às camisolas,
    ao veludo dourado das penas transforma-se num lugar que dizem ser feio. ninguém
    nos avisa que vai ser assim. eu nem sabia como era, nunca tinha olhado direito,
    com olhos de ver, para tudo o que ali se passava. um pequeno monte, umas cuecas
    manchadas, uns lábios que se abrem - uma metamorfose. não sei como era antes.
    no bacio azul das fotos de bebé tomo banho, são as únicas fontes que alimentam
    a memória de uma parte do corpo que sempre permaneceu secreta. sei o antes, bem
    lá ao longe, e o agora, porque me olho, porque me cheiro, porque me toco. nem
    sequer sei o que será depois. ninguém fala.</p><p></p><p></p><p></p><p><em>capas
    arquivadoras A4</em></p><p></p><p>na capa tem o rei leão, outra o tarzan, as mais
    antigas são forradas de padrões dourados. por dentro, os sumários da escola primária
    foram substituídos por micas divididas em 4 espaços retangulares, um para cada
    par de fotografias, frente e verso. na viagem à república dominicana estou com
    tranças e missangas cor-de-laranja na ponta do cabelo, pele dourada, entre sumos
    coloridos e espreguiçadeiras, a pulseira mágica que me permitia mergulhar na piscina,
    dançar <em>la bomba</em>, correr pelos corredores do hotel e deitar-me na cama
    onde todos os dias pousavam uma toalha lavada em forma de cisne. na madeira, tenho
    um dente maior que outro, espreito pelas estrelícias do jardim botânico, sento-me
    na porta das casinhas com telhado de palha, finjo conduzir um barco que é afinal
    uma esplanada, aconchego-me ao abraço da mãe com o frio do nevoeiro da montanha
    quando a t-shirt usada do meu irmão, com raquetes e carros vermelhos, não me abriga
    do vento. revejo o tamagoshi que se afogou no mar, o gameboy comprado no aeroporto
    de palma de maiorca, a viagem infinita numa camioneta até benidorm. estou na ponte
    de madeira construída no parque de campismo de olhão, tenho um téréré azul no
    cabelo e uma pulseira de missangas na perna. visto-me de princesa no vestido de
    lantejoulas que tanto desejei. sento-me no colo da mãe. seguro o andor da procissão.
    vendo rifas na quermesse. seguro o ramo da primeira comunhão. jogo matrecos na
    sala de convívio do campismo, os sofás castanhos, feios, usados, o cheiro a tabaco
    e os cinzeiros apinhados, os adolescentes a darem linguados no corredor da casa
    de banho. o lugar da memória é o mais bonito que há - e vive nas capas arquivadoras
    numa gaveta debaixo da cama do meu pai.</p><p></p><p></p><p>Tota Alves</p>"
  title: Tota Alves
  label: tota

---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=854621424892739&autoLogAppEvents=1" nonce="Ybu3L5GQ"></script>
<!-- navbar -->


<div class="topnav" id="Topnav">
  <div class="menu-container">
    <a href="{{ site.baseurl }}/index" class="active">A METAMORFOSE <br>DOS PÁSSAROS</a>
    <a href="{{ site.baseurl }}/sobre"><span class="pt">sobre</span><span class="en disable">about</span></a>
    <a href="{{ site.baseurl }}/filme"><span class="pt">o filme</span><span class="en disable">the film</span></a>
    <a href="{{ site.baseurl }}/historias"><span class="pt"><u>outras histórias</u></span><span class="en disable"><u>other stories</u></span></a>
    <div style="padding: 14px 16px;" class="desktop"><span id="portuguese">pt -</span><span id="english"> eng</span></div>
    <a href="javascript:void(0);" class="icon" onclick="openNav()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/></svg>
    </a>
  </div>
</div>

<div id="Sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ site.baseurl }}/sobre">sobre</a>
  <a href="{{ site.baseurl }}/filme">o filme</a>
  <a href="{{ site.baseurl }}/historias">outras histórias</a>
  <a href=""><span>pt -</span><span> eng</span></a>
</div>

<!-- content -->

<div class="left black-border">
  <div class="stories-description">
    <p>Texto sobre a recolha de histórias de famílias: no texto devemos explicar
      que as histórias aqui reunidas são de pessoas que já viram o filme e
      que depois disso partilharam algum
      episódio relacionado com as suas
      famílias aqui. Essa história é sempre
      acompanhada por uma fotografia
      de alguém, de um objecto, de uma
      pintura, aquilo que as pessoas sintam
      que faz mais sentido. Aqui também teremos de ter o mail
      (hiperlink) para o envio das histórias</p>
      <div class="share-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">share</div>
  </div>

  
  {% for item in page.historias %}
  <div id='div{{ item.index }}' class="targetDiv disable mb-4">{{ item.historia }}</div>
  {% endfor %}
</div>

<div class="right right-images">
  {% for item in page.historias %}
  <img src="{{ site.baseurl }}/{{ item.imagem }}" class="stories-image {{ item.label }} showSingle" target="{{ item.index + 1 }}" data-bs-toggle="modal" data-bs-target="#{{item.label}}Modal">
  {% endfor %}
</div>



<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-around">
        <div class="socials facebook d-flex align-items-center"><i class="ri-facebook-fill"></i><p class="m-1 mt-2">Share</p></div>

        <div class="socials twitter d-flex align-items-center"><i class="ri-twitter-fill"></i><p class="m-1 mt-2">Tweet</p></div>

        <div class="socials email d-flex align-items-center"><i class="ri-mail-fill"></i><p class="m-1 mt-2">Email</p></div>

      </div>
      <div class="m-4"></div>
    </div>
  </div>
</div>




<!-- Mobile Modal -->
{% for item in page.historias %}
<div class="modal mobile" id="{{item.label}}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{ site.baseurl }}/{{ item.imagem }}" class="modal-img">
        <br>
        {{ item.historia }}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="bottom-margin"></div>

<script>

$('.showSingle').click(function(event) {
    if (window.matchMedia('(min-width: 600px)').matches) {
      $('.stories-description').addClass('disable');
      $('.targetDiv').addClass('disable');
      $('#div' + $(this).attr('target')).removeClass('disable');
      $('.showSingle').removeClass('white-border');
      $(this).addClass('white-border');
      event.stopPropagation();
    } else {
    }
  });

  $(window).click(function() {
    if (window.matchMedia('(min-width: 600px)').matches) {
      $('.stories-description').removeClass('disable');
      $('.targetDiv').addClass('disable');
      $('.showSingle').removeClass('white-border');
    } else {
    }
  });

  // Make the DIV element draggable:

  $(function() {
    if (window.matchMedia('(min-width: 600px)').matches) {
        $(".stories-image").draggable();
    } else {
        //...
    }

  });

  $('.modal').on('shown.bs.modal', function () {
    var width = $(window).width();
    if(width > 600){
        $('.mobile').modal('hide')
    }
});

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>