---
layout: default
images_left:
- assets/img/Press_1.jpg
- assets/img/Press_2.jpg
- assets/img/Press_3.jpg
- assets/img/Press_4.jpg
- assets/img/Press_5.jpg
- assets/img/Press_6.jpg
images_right:
- assets/img/Press_10.jpg
- assets/img/Press_11.jpg
- assets/img/Press_12.jpg
- assets/img/Press_13.jpg
- assets/img/Press_7.jpg
- assets/img/Press_8.jpg
- assets/img/Press_9.jpg

---
<!-- navbar -->
<main id="home">

<div class="topnav" id="Topnav">
  <div class="menu-container">
    <a href="index.html" class="active"><span>THE METAMORPHOSIS<br>OF BIRDS</span></a>
    <a href="{{ site.baseurl }}/about">about</a>
    <a href="{{ site.baseurl }}/film">the film</a>
    <a href="{{ site.baseurl }}/stories">other stories</a>
    <div style="padding: 14px 16px;" class="lang-flex desktop"><span id="portuguese"><a href="{{ site.baseurl }}/index">pt-</a></span><span id="english"><a href="{{ site.baseurl }}/index-en"><u>eng</u></a></span></div>
    <a href="javascript:void(0);" class="icon" onclick="openNav()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/></svg>
    </a>
  </div>
</div>

<div id="Sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="ri-close-line"></i></a>
  <a href="{{ site.baseurl }}/about">about</a>
  <a href="{{ site.baseurl }}/film">the film</a>
  <a href="{{ site.baseurl }}/stories">other stories</a>
  <div class="pt-eng"><a href="{{ site.baseurl }}/index"><span>pt </span></a>&nbsp—&nbsp<a href="{{ site.baseurl }}/index-en"><span> eng</span></a></div>
</div>

<!-- content -->

<div class="image-grid">
  <img id="leftImages" alt="#" class="left">
  <img id="rightImages" alt="#" class="right">
</div>

<script>
const imageLeft = new Array ();
{% for image in page.images_left %}
imageLeft.push("{{ image }}");
{% endfor %}
const size = imageLeft.length
const x = Math.floor(size*Math.random())

const imageRight = new Array ();
{% for image in page.images_right %}
imageRight.push("{{ image }}");
{% endfor %}
const sizeY = imageRight.length
const y = Math.floor(sizeY*Math.random())

$(document).ready(function(){
  $('#leftImages').attr('src', "{{site.baseurl}}/" + imageLeft[x]);
  $('#rightImages').attr('src', "{{site.baseurl}}/" + imageRight[y]);
});

</script>